body {
    width: 310px;
}

.card {
    font-family: "Times New Roman", Times, serif;
    font-size: 14px;
    border: 2px solid grey;
    border-radius: 5px;
    box-shadow: 6px 8px 22px -1px rgba(87, 85, 87, 1);
    padding: 5px 5px 5px 5px;
    width: 310px;
    background: #E3D9CA;
}


.heading {
    text-shadow: 2px;
    text-align: center;
}

.photo {
    width: 300px;
    border: 2px solid #ddd;
}

p {
    text-align: left;
    text-indent: inherit;
}

li {
    list-style: none;
}

.myDescription {
    font-style: italic;
}

.allDescription {
    border: 2px double grey;
    border-radious: 5px;
    padding: 5px;
}
